@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

  body {
    background-color: #eaf3ff;
    color: #404141;
    font: 16px/1.4 "Noto Sans", sans-serif;
  }
}
